body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* making stream div behind everything */
div:first-child {
  opacity: 0.99;
}

.streamWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  height: 0;
}
.streamWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #ffffff;
  width: 100%;
}

.buttons-inactive {
  pointer-events: none;
}

#commands {
  position: absolute;
  bottom: 12%;
}

#messagebox {
  position: absolute;
  right: 0px;
  margin-right: 25%;
  bottom: 10%;
}

.stop {
  position: relative;
  top: 5%;
  left: 50px;
}

.button {
  background-color: white;
  border: #555555;
  font-family: "Courier";
  color: black;
  padding: 5px 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
}

#stopbutton {
  background-color: #ffab20;
}

.button:hover {
  background-color: #d9d9d9;
}

#stopbutton:hover {
  background-color: #bb8757;
}

h1 {
  font-family: "monaco";
  color: #ffab20;
  font-size: 4vh;
}
p {
  font-family: "nomaco";
  color: #ffab20;
}
#messageinput {
  font-family: "Courier";
  color: #ffffff;
  font-size: 0.8em;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.iframe {
  position: absolute;
  top: 300px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

canvas {
  display: block;
}
