body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* making stream div behind everything */
div:first-child {
  opacity: 0.99;
}

/* stream */

.streamWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 1%;
  height: 0;
}
.streamWrapper iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #ffffff;
  width: 100%;
}

.buttons-inactive {
  pointer-events: none;
}

#commands {
  position: fixed;
  width: 40%;
  left: 2%;
  bottom: 3%;
}

#camera {
  position: fixed;
  width: 20%;
  height: 20%;
  right: 2%;
  bottom: 3%;
}

#lbutton {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}

#rbutton {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}

#ubutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#dbutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.arrow {
  height: 20px;
  width: 20px;
}

#messagebox {
  position: fixed;
  right: 25%;
  top: 3%;
}

.stop {
  position: relative;
  top: 5%;
  left: 50px;
}

.button {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
  font-family: "monaco";
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
}

#stopbutton {
  background-color: #ffab20;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

.button:hover {
  background-color: #ffffff;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

#stopbutton:hover {
  background-color: #ffffff;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

h1 {
  font-family: "monaco";
  color: #ffab20;
  font-size: 4vh;
}
p {
  font-family: "nomaco";
  color: #ffab20;
}

#messageinput {
  font-family: "monaco";
  color: #ffffff;
  font-size: 0.8em;
}

canvas {
  display: block;
}

#mobileText {
  display: none;
}

/* mobile version */

@media screen and (max-width: 500px) {
  body {
    background-color: black;
  }

  h1 {
    font-size: 15pt;
  }

  p {
    font-family: "monaco";
    font-size: 10pt;
  }

  .button {
    font-size: 10pt;
  }

  #commands {
    position: fixed;
    width: 100%;
    height: 40%;
    left: 2%;
    top: 10%;
  }

  #mobileText {
    display: block;
    position: fixed;
    left: 2%;
    bottom: 22%;
  }

  #camera {
    position: fixed;
    width: 50%;
    height: 18%;
    left: 2%;
    bottom: 3%;
  }

  #messagebox {
    position: fixed;
    left: 2%;
    top: 65%;
  }

  .streamWrapper {
    display: none;
  }
  /*   
  #mobileText {
      display: block;
      text-align: center;
  }

  #mobileBg {
      background-image: url(yolk.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 30%;
    }
     */
}
